body{
    font-family: 'Roboto Slab', ;
}
/*Navbar*/
.navbar img{
    width: 120px;
}
.carousel-indicators li{
    background-color:#ffc400f3;
    border-radius: 50%;
    padding: 1px;
    margin-right: 10px;
    width: 10px;
    height: 10px;
}
.carousel-indicators li:last-child{
    margin-right: 0;
}
.water-mark{
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    letter-spacing: 1.8px;
    word-spacing: 4px;
    color: #F6F6F8;
    font-weight: 700;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px #aaa;
}

/*About Section*/
#about .card-1{
    border-radius: 0 15px 0 30px;
    -webkit-border-radius: 0 15px 0 30px;
    -moz-border-radius: 0 15px 0 30px;
    -ms-border-radius: 0 15px 0 30px;
    -o-border-radius: 0 15px 0 30px;
}
#about .card{
    border-radius: 15px 0 30px 0;
    -webkit-border-radius: 15px 0 30px 0;
    -moz-border-radius: 15px 0 30px 0;
    -ms-border-radius: 15px 0 30px 0;
    -o-border-radius: 15px 0 30px 0;
}

.bottem-border{
    position: relative;
    font-weight: 700;
    display: inline-block;
}
.bottem-border::after{
    content: '';
    position: absolute;
    height: 5px;
    width: 80%;
    background-image: linear-gradient(90deg, #ffd000fb, #b9064bb6);
    left: 18px;
    bottom: -12px;
}

.cat-img1 img {
    width: 225px;
    padding: 45px;
     box-shadow: 5px 5px 10px #aaa;
    max-width: 100%;
}

.cat-img2 {
    width: 225px;
    padding: 45px;
     box-shadow: 5px 5px 10px #aaa;
    max-width: 100%;
}

.cat-img3 {
    width: 225px;
    padding: 45px;
     box-shadow: 5px 5px 10px #aaa;
    margin-top: 30px;
    max-width: 100%;
}


/*Footer*/
footer p{
    font-size: 13px;
}

/*Media Query*/


@media screen and (max-width: 991px) {
    .water-mark {
        font-size: 20px;
    }
}
@media screen and (max-width: 767px) {
   .water-mark {
       display: none;
   }
    .double-image img{
        max-width: 100%;
        display: block;
        margin-top: 20px;
    }
    .total-image{
        margin-left:120px;
    }
}
@media screen and (max-width: 480px){
    .total-image {
        margin-left: 100px;
    }
}
@media screen and (max-width: 360px) {
    .total-image {
        margin-left: 40px;
    }
}